<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN/SIGNUP</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    
    body, html {
      height: 100%;
      line-height: 1.8;
    }
    
    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("https://img.freepik.com/free-vector/musical-notes-frame-with-text-space_1017-32857.jpg?w=2000");
      min-height: 100%;
    }
    .w3-bar .w3-button {
      padding: 16px;
    }
</style>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#index" class="w3-bar-item w3-button w3-wide">MIND MUSIC</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <!-- <a href="#about" class="w3-bar-item w3-button">ABOUT</a> -->
        <a href="features.html" class="w3-bar-item w3-button"><i class="fa fa-heart"></i> FEATURES</a>
        <a href="login.html" class="w3-bar-item w3-button"><i class="fa fa-bars"></i> LOGIN/SIGNUP</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  
  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <!-- <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a> -->
    <a href="features.html" onclick="w3_close()" class="w3-bar-item w3-button">FEATURES</a>
    <a href="login.html" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN/SIGNUP</a>
  </nav>

<body>
  <div class="w3-container w3-third w3-white" style="padding:60px 16px" id="signup"></div>
  <div class="w3-container w3-third w3-white" style="padding:60px 16px" id="signup">
  <h3>Create your new account here</h3>
  
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>

    <label for="password">Confirm Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <a href="login.html">
      <button>Submit</button>
    </a>
  </div>

  <div class="w3-container w3-third w3-white" style="padding:60px 16px" id="login">
    <h3>Already have an account? Log in here</h3>
  
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
  
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
  
      <a href="index.html">
        <button>Submit</button>
      </a>
    </div>

  </body>
</html>